@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  src:
    url('../fonts/public-sans-v13-latin-100.woff2') format('woff2'),
    url('../fonts/public-sans-v13-latin-100.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 200;
  src:
    url('../fonts/public-sans-v13-latin-200.woff2') format('woff2'),
    url('../fonts/public-sans-v13-latin-200.woff') format('woff');

}


@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/public-sans-v13-latin-300.woff2') format('woff2'),
    url('../fonts/public-sans-v13-latin-300.woff') format('woff');

}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/public-sans-v13-latin-regular.woff2') format('woff2'),
    url('../fonts/public-sans-v13-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/public-sans-v13-latin-500.woff2') format('woff2'),
    url('../fonts/public-sans-v13-latin-500.woff') format('woff');
}


@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/public-sans-v13-latin-600.woff2') format('woff2'),
    url('../fonts/public-sans-v13-latin-600.woff') format('woff');

}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/public-sans-v13-latin-700.woff2') format('woff2'),
    url('../fonts/public-sans-v13-latin-700.woff') format('woff');

}


@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 800;
  src:
    url('../fonts/public-sans-v13-latin-800.woff2') format('woff2'),
    url('../fonts/public-sans-v13-latin-800.woff') format('woff');

}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 900;
  src:
    url('../fonts/public-sans-v13-latin-900.woff2') format('woff2'),
    url('../fonts/public-sans-v13-latin-900.woff') format('woff');

}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

.header__link:hover {
  opacity: 0.7;
}

.img-skewed {
  perspective: 1500px;
}

.img-skewed-item {
  transform: rotateY(-35deg) rotateX(15deg);
}

.fair {
  background-image: linear-gradient(to bottom, white 70%, #1b2a4e 70% 100%);
}

.questions {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #1b2a4e;
}

.footer a:hover {
  opacity: 0.7;
}

@media only screen and (max-width:768px) {
  .fair {
    background-image: linear-gradient(to bottom, white 80%, #1b2a4e 80% 100%);
  }
}